# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/
dist/
out/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Java
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.mvn/
mvnw
mvnw.cmd

# Spring Boot
spring-boot-starter/
spring-boot-starter-web/
spring-boot-starter-data-jpa/
spring-boot-starter-validation/

# Database
*.db
*.sql
*.sqlite 